ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    /* display: inline; */
    float: left;
  }
  
  li a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  body{
    color: whitesmoke;
    background-color: #333;
  }

  /* .classstats table, th, td { */
  .classstats, table {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid; */
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th {
    height: 70px;
  }

  tr:hover {
    background-color:seagreen;
  }

  td {
    height: 25px;
    vertical-align: bottom;
    border: 1px solid;
    border-color: yellowgreen;
    border-radius: 2px;
  }

  td:hover{
      background-color:#04AA6D;
  }

  .mystats {
    column-count: 2;
    column-gap: 40px;
  }

  .class-sidebar {
    height: 100%;
    width: 149px;
    position: fixed;
    /* background-color: #04AA6D; */
  }

  .class-sidebar div {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    font-size: 16px;
    display: block;
  }

  .class-sidebar li {
    /* display: inline; */
    float: left;
    width: 100%;
    font-size: 16px;
  }
  
  .class-sidebar li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  }
    
  .body-text {
    margin-left: 150px;
    font-size: 18px;
  }

  img {
    width: 100%;
    max-width: 60%;
    max-height: 60%;
    /* align-content: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }