ul {
  /* list-style-type none for no bulletpoints */
  list-style-type: none;
  /* 0 margin or padding to put the nav at the top left */
  margin: 0;
  padding: 0;
  /* cut off text if it doesn't fit */
  overflow: hidden;
}

li {
  /* align list items on the left */
  float: left;
}

li a {
  /* for list text, use the specific font */
  font-family: Arial, Helvetica, sans-serif;
  /* the block display looks nicer than default */
  display: block;
  /* offwhite font color */
  color: whitesmoke;
  /* centered text */
  text-align: center;
  /* larger font size */
  font-size: 24px;
  /* adds padding for nicer display */
  padding: 14px 16px;
  /* removes underlines */
  text-decoration: none;
}

/* Change the link color to seagreen on hover */
li a:hover {
  background-color: seagreen;
}

.active {
  /* if the page is currently in use, use a special color */
  background-color: #04AA6D;
} 

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} 

.class-sidebar {
  /* use a hardcoded width */
  height: 100%;
  width: 100px;
  /* force the nav to be on the left */
  float: left;
  /* position: fixed; */
  background-color: #04AA6D;
  overflow: hidden;
}

.class-sidebar div {
  /* display things in the class sidebar as blocks */
  display: block;
}

.class-sidebar li {
  /* have the list take up 100% of the allotted width */
  width: 100%;
  /* transition: 0.4s; */
}

.class-sidebar li a {
  /* use a smaller font for the left nav text */
  font-size: 16px;
  /* align the text to the left of the screen */
  text-align: left;
  /* add some padding between the nav blocks */
  padding: 16px;
  /* remove bulletpoints */
  text-decoration: none;
}

.hamburger-btn {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  background: cadetblue;
  border: none;
  outline: none;
}

div.gallery {
  /* use rounded edges for the map image boxes */
  border-radius: 30px;
  /* have a margin of 15 pixels between boxes */
  margin: 15px;
  /* add a green border for all of the boxes */
  border: 3px solid yellowgreen;
  /* align the boxes to the left */
  float: left;
  /* have the boxes each take up 20% of the screen width */
  width: 20%
}

div.gallery:hover {
  /* if the cursor is over the box, change the border color */
  border: 3px solid seagreen;
}

div.gallery img {
  /* round the edges of the image in the box */
  border-radius: 25px;
  /* have the image take up the full width of the box */
  width: 100%;
  max-width: 100%;
  /* maintain the ratio of the image */
  height: auto;
}

div.desc {
  /* center the names of the maps in the boxes */
  text-align: center;
}

/* sets the body (which contains the gallery classes) to have the right font, 
  font color, and background color */
body{
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #333;
}